<footer class="footer has-background-black">
  <div class="container">
    <a class="logo-icon" href="/">{{ site.name }}</a>
    <h2 class="title is-4"><a href="{{ site.org.url}}">{{ site.org.name | lower }}</a></h2>
    <div class="columns is-variable is-6">
      <div class="column is-one-third">
        <div class="site-description">
          <p>A gathering of people who are investing their
            collective <a href="https://timeenergyresources.com/">time, energy, and resources</a> in the
            challenge of reimagining our <a href="https://socialarc.com/">social architecture</a>.</p>
        </div>
      </div>
      <div class="column is-offset-2">
        <div class="columns is-variable is-6">
          <div class="column">
            <ul class="menu menu-process">
              <li class="imagine"><a href="/imagine/">imagine</a></li>
              <li class="design"><a href="/design/">design</a></li>
              <li class="build"><a href="/build/">build</a></li>
            </ul>
          </div>
          <div class="column">
            <ul class="menu menu-community">
              <li class="imagine"><a href="/events/">events</a></li>
              <li class="design"><a href="/workshops/">workshops</a></li>
              <li class="build"><a href="/projects/">projects</a></li>
            </ul>
          </div>
          <div class="column">
            <ul class="menu menu-connect">
              <li class="imagine"><a href="/about/">about</a></li>
              <li class="design"><a href="/connect/">connect</a></li>
              <li class="build"><a href="/join/">join</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-variable is-6 brands">
      <div class="column is-half">
        <h2 class="title is-4 logo-outlines"><a href="/">{{ site.name }}</a></h2>
      </div>
      <div class="column">
        <div class="social-network">
          {% for platform, link in site.social_links%}
            <a href="{{ link }}">
              <span class="icon">
                <i class="fab fa-{{ platform }}"></i>
              </span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <p class="site-info">{{ site.company.legal_name }}  |  <a href="{{ site.open_source.repo }}">{{ site.open_source.platform }}</a>  |  {{ site.open_source.license }}</p>
  </div>
</footer>
