<header class="section">
  <div class="container">
    {% include "components/brand.njk" %}
    {% block mainmenu %}
    {% include "components/main-menu.njk" %}
    {% endblock %}
  </div>
</header>
