{% extends "components/header.njk" %}

{% block mainmenu %}
<nav class="main-menu">
  <ul>
    <li class="columns is-variable is-6">
      <div class="column menu-item">
        <h2><a href=".">404</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p><strong>Page Not Found</strong> <br />Can we help you find what you’re looking for?</p>
      </div>
    </li>
  </ul>
</nav>
{% endblock %}
