<nav class="main-menu">
  <ul>
    <li class="columns is-variable is-6 menu-imagine{% if page.url == "/events/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/events/">events</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>gathering as a community <br />to discover how to get involved</p>
      </div>
    </li>
    <li class="columns is-variable is-6 menu-design{% if page.url == "/courses/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/courses/">courses</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>putting the design process <br />into practice to learn by doing</p>
      </div>
    </li>
    <li class="columns is-variable is-6 menu-build{% if page.url == "/projects/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/projects/">projects</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>focusing our time, energy, and resources  <br />on the most pressing challenges</p>
      </div>
    </li>
  </ul>
</nav>
