<nav class="main-menu">
  <ul>
    <li class="columns is-variable is-6 menu-imagine{% if page.url == "/events/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/events/">events</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>creativity and innovation at the <br />intersection of art and science</p>
      </div>
    </li>
    <li class="columns is-variable is-6 menu-design{% if page.url == "/courses/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/courses/">courses</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>influenced by the past, <br />shaping the future</p>
      </div>
    </li>
    <li class="columns is-variable is-6 menu-build{% if page.url == "/projects/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/projects/">projects</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>building resilience,  <br />relationships and community</p>
      </div>
    </li>
  </ul>
</nav>
