<nav class="main-menu">
  <ul>
    <li class="columns is-variable is-6 menu-imagine{% if page.url == "/about/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/about/">about</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>explore how we can imagine, design, <br />and build the future together</p>
      </div>
    </li>
    <li class="columns is-variable is-6 menu-design{% if page.url == "/connect/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/connect/">connect</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>learn about how we can work together <br />to reimagine our social architecture</p>
      </div>
    </li>
    <li class="columns is-variable is-6 menu-build{% if page.url == "/join/" %} current{% endif %}">
      <div class="column menu-item">
        <h2><a href="/join/">join</a></h2>
      </div>
      <div class="column menu-item-desc is-8">
        <p>together, we can build resilience, <br />relationships, and community</p>
      </div>
    </li>
  </ul>
</nav>
