<main>
  {% include "components/section-blog.njk" %}
  {% include "components/section-imagine.njk" %}
  {% include "components/section-design.njk" %}
  {% include "components/section-build.njk" %}
  {% include "components/section-community.njk" %}
  {% include "components/section-connect.njk" %}
</main>
