<p class="menu-label">Start Over</p>
<ul class="menu-list">
  <li><a href="/">Home</a></li>
</ul>
<p class="menu-label">Process</p>
<ul class="menu-list">
  <li><a href="/imagine/">Imagine</a></li>
  <li><a href="/design/">Design</a></li>
  <li><a href="/build/">Build</a></li>
</ul>
<p class="menu-label">Actions</p>
<ul class="menu-list">
  <li><a href="/events/">Events</a></li>
  <li><a href="/courses/">Courses</a></li>
  <li><a href="/projects/">Projects</a></li>
</ul>
<p class="menu-label">Connections</p>
<ul class="menu-list">
  <li><a href="/about/">About</a></li>
  <li><a href="/connect/">Connect</a></li>
  <li><a href="/join/">Join</a></li>
</ul>
