<p class="menu-label">Design Mentoring</p>
<ul class="menu-list">
  <li><a href="https://stephenbau.com/">The Changelog by Stephen Bau</a></li>
</ul>
<p class="menu-label">Resources</p>
<ul class="menu-list">
  <li><a href="https://imaginaxiom.com/">Imaginaxiom</a></li>
  <li><a href="https://designinfluences.com/">Design Influences</a></li>
  <li><a href="https://builderscollective.com/">Builders Collective</a></li>
</ul>
<p class="menu-label">Projects</p>
<ul class="menu-list">
  <li><a href="https://timeenergyresources.com/">Time, Energy, and Resources</a></li>
  <li><a href="https://designinfluences.org/">Shaping the Future</a></li>
  <li><a href="https://socialarc.com/">Social Architecture</a></li>
</ul>
<p class="menu-label">Relationships</p>
<ul class="menu-list">
  <li><a href="https://threeprogress.com/">Three: progress and the evolution of ideas</a></li>
  <li><a href="https://therecipebox.club/">The Recipe Box</a></li>
  <li><a href="https://faithhopelove.ca/">Faith Hope Love</a></li>
</ul>
