<section id="imagine" class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <figure class="image">
          <span class="img-border"><img src="https://source.unsplash.com/324nknuhxDg/960x960" alt="Photo from Unsplash" /></span>
          <figcaption><strong>Art + Science:</strong> at the intersection of creativity and technology</figcaption>
        </figure>
      </div>
      <div class="column">
        <p>The iconic images for me as a child were Walt Disney on television and the other
        was Albert Einstein, who had embodied this thing about understanding the world.
        I grew up liking both of those, but the deepest thing that I wanted to do was
        become an animator. I did a lot of drawing all the way through high school. I
        even had a class where I got an A plus, plus, plus. Now, I know that was based
        more on quantity than quality.</p>
        <p>As I went from high school to go to college, I realized that I didn’t know how
        to get the skills and it was not up to the level that I saw in the Disney
        animators, so I switched over to Physics.</p>
      </div>
      <div class="column">
        <p>Here’s the interesting thing I found. I’ve told this story before, as you would
        guess, over the years, and there’s always a titter and laughter in the audience,
        because the general concept that we have is to go from art to science is
        incongruous.</p>
        <p>Why is it incongruous to go from one to the other and why do we think of them as
        two very different personalities? I will say that over the years, I have known
        world-class mathematicians and scientists and artists and programmers, and if I
        were to take another characteristic, let’s say it’s their organizational skills,
        the ability to get stuff done. I haven’t found a correlation between them.</p>
      </div>
    </div>
  </div>
</section>
