<section id="build" class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column is-one-third section-heading">
        <h2 class="title">builders collective</h2>
      </div>
    </div>
    <div class="columns is-variable is-6">
      <div class="column is-two-thirds">
        <p>A gathering of people who are investing their collective time, energy  and
        resources in the challenge of reimagining our social architecture.</p>
      </div>
      <div class="column">
        <div class="control">
          <a href="/join/" class="button is-medium is-link">
            <strong>Join Us</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="profile-images columns">
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="https://source.unsplash.com/uGXEEwnvIkQ/256x256" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="https://source.unsplash.com/2llsUy9LP50/256x256" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="https://source.unsplash.com/2EGNqazbAMk/256x256" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="https://source.unsplash.com/LirPcFdrJkE/256x256" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="https://source.unsplash.com/Ml4tr2WO7JE/256x256" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="https://source.unsplash.com/9R-CH7PR150/256x256" alt="People photos from Unsplash" />
        </figure>
      </div>
    </div>
  </div>
</section>
