<section id="design" class="section section-image has-bg-img" style="background-image: url(https://source.unsplash.com/c9z9RlCh0Zo/1920x1280)">
  <div class="section-body">
    <div class="container">
      <div class="columns is-variable is-6">
        <div class="column is-offset-4 is-two-thirds">
          <h1 class="title">
            Design for Resilience
          </h1>
          <h2 class="subtitle">
            Reimagining our social architecture in the  context of humanity + technology at scale
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
