<section id="imagine" class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <figure class="image">
          <span class="img-border"><img src="/images/content/earth-nasa-as17-148-22727-960x960.jpg" alt="The Blue Marble: The View From Apollo 17. Photo courtesy of NASA." /></span>
          <figcaption><strong>Biomimicry:</strong> Understanding the Earth as a holobiont, a complex organism comprised of interdependent species</figcaption>
        </figure>
      </div>
      <div class="column">
        <p>The <a href="https://socialarc.com/scale/">social arc</a> is about humanity and technology at scale. The arc
        relates to the exponential curve created when plotting a graph of the
        effects of human activity over time.</p>
        <p>The influence of design has surpassed our awareness of the power we
        can collectively wield over ourselves and our environment. This is a
        moment for designers to develop some self-awareness about our impact on
        the world and how, collectively, we can change things for worse or for
        better.</p>
        <p>Systems thinking helps us to better understand our current context
        and the complexity of the human experience. We are also part of an
        ecosystem and environment that are at times chaotic and violent, and at
        other times balanced and harmonious.</p>
      </div>
      <div class="column">
        <p>Humans have agency to build better habits, but we also have the
        ability to build better environments. We build relationships, we build
        communities, and we build cities. The project is far more complex than
        the field of architecture can encompass. The built environment is an
        extension of who we aspire to be as a group of human beings living and
        working in the spaces that we share in common. When we build, we project
        our aspirations into the future. What we build then shapes us into who
        we will become.</p>
        <p>We are reimagining our <a href="https://socialarc.com/resilience/">social architecture</a> as we redesign our social
        systems to mimic the living systems that we are a part of.</p>
      </div>
    </div>
  </div>
</section>
