<section class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <div class="card card-imagine">
          <div class="card-image">
            <figure class="image">
              <a href="#"><img src="https://source.unsplash.com/m73iqlbI-3M/960x960" alt="Bauhaus Archiv, Berlin photo by Simone Hutsch" /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="meta"><a class="author" href="#">David Jones</a></div>
              <h3><a href="#">The Structure of Storytelling and the Art and Craft of World Building for Film</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card-design">
          <div class="card-image">
            <figure class="image">
              <a href="#"><img src="https://source.unsplash.com/tvPvROBv0F4/960x960" alt="Evening over Millennium Bridge photo by James Padolsey" /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="meta"><a class="author" href="#">Sandi Co</a></div>
              <h3><a href="#">Bringing Design Education to a New Generation with a Global Mentoring Platform</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card-build">
          <div class="card-image">
            <figure class="image">
              <a href="#"><img src="https://source.unsplash.com/czDvRp5V2b0/960x960" alt="Abu Dhabi Louvre Museum by Alvaro Pinot" /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="meta"><a class="author" href="#">Brad Smith</a></div>
              <h3><a href="#">Construction, Deconstruction and Reconstruction: Exploring the Process of Community Building</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
