<section class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <div class="card card-imagine">
          <div class="card-image">
            <figure class="image">
              <a href="https://stephenbau.com/metaphysical/"><img src="/images/content/bauhaus_6747_960x960.jpg" alt="Bauhaus Building, Dessau, October 2010. Photo by Stephen Bau." /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="meta"><a class="author" href="https://stephenbau.com/bio/">Stephen Bau</a></div>
              <h3><a href="https://stephenbau.com/metaphysical/">Cultural Evolution, Social Physics, and Metaphysical Design: The Spiritual Vision of the Bauhaus</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card-design">
          <div class="card-image">
            <figure class="image">
              <a href="https://socialarc.com/models/"><img src="/images/content/adobestock_8274733-960x960.jpg" alt="Cellular biology as a metaphor for human social organization" /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="meta"><a class="site" href="https://socialarc.com/">Social Architecture</a></div>
              <h3><a href="https://socialarc.com/models/">Mental Models for Human Experience: Understanding Human Values, Perceptions, and Behaviours</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card-build">
          <div class="card-image">
            <figure class="image">
              <a href="https://builderscollective.com/resilience/"><img src="/images/content/bldrs-resilience-tagline-960x960.jpg" alt="Resilience magazine cover" /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="meta"><a class="site" href="https://builderscollective.com/">Builders Collective</a></div>
              <h3><a href="https://builderscollective.com/resilience/">Design for Resilience and the Human Project: Adapting to Change When Things Go Wrong</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
