<section id="community" class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <a href="/events/">
          <figure class="image has-text-centered">
            <img class="shape circle" src="images/circle.svg" alt="circle" />
            <figcaption><h2 class="title">events</h2></figcaption>
          </figure>
        </a>
      </div>
      <div class="column">
        <a href="/workshops/">
          <figure class="image has-text-centered">
            <img class="shape triangle" src="images/triangle.svg" alt="triangle" />
            <figcaption><h2 class="title">workshops</h2></figcaption>
          </figure>
        </a>
      </div>
      <div class="column">
        <a href="/projects/">
          <figure class="image has-text-centered">
            <img class="shape square" src="images/square.svg" alt="square" />
            <figcaption><h2 class="title">projects</h2></figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>
