<section id="build" class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column is-one-third section-heading">
        <h2 class="title">builders collective</h2>
      </div>
    </div>
    <div class="columns is-variable is-6">
      <div class="column is-two-thirds">
        <p>A gathering of people who are investing their collective time, energy  and
        resources in the challenge of reimagining our social architecture.</p>
      </div>
      <div class="column">
        <div class="control">
          <a href="/join/" class="button is-medium is-link">
            <strong>Join Us</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="profile-images columns">
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="/images/people/photo-1526014555208-6fce862f1457.jpg" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="/images/people/photo-1488735963364-618f9d074321.jpg" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="/images/people/photo-1522529599102-193c0d76b5b6.jpg" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="/images/people/photo-1511373800525-05da6d924ef2.jpg" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="/images/people/photo-1503035969979-15942601aa7e.jpg" alt="People photos from Unsplash" />
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-rounded" src="/images/people/photo-1505503693641-1926193e8d57.jpg" alt="People photos from Unsplash" />
        </figure>
      </div>
    </div>
  </div>
</section>
