{# Google Schema #}
<meta itemprop="name" content="{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.company.name }}">
<meta itemprop="description" content="{% if meta_description %}{{ meta_description }}{% elif excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}">

{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.company.name }}">
<meta name="twitter:description" content="{% if meta_description %}{{ meta_description }}{% elif excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="{{ site.org.handle }}">
<meta name="twitter:creator" content="{{ site.author.handle }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ site.images.twitter }}">

{# Open Graph #}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.company.name }}">
<meta property="og:description" content="{% if meta_description %}{{ meta_description }}{% elif excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ site.url }}{{ site.images.og }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="en_CA">
<meta name="article:publisher" content="{{ site.social_links.facebook }}">
