body {
  font-family: "aktiv-grotesk", sans-serif;
}

h1.title {
  font-family: "aktiv-grotesk-extended", sans-serif;
  font-weight: 900;
}

h2.title {
  font-family: "aktiv-grotesk-extended", sans-serif;
  font-weight: 800;
}

.column p {
  margin-bottom: 1em;
}

header.section {
  padding-top: 1.5rem;
}

.brand h1 {
  margin-bottom: 1rem;
}

.brand h1 a {
  display: block;
  text-indent: -100%;
  width: 132px;
  height: 24px;
  background: url(bldrs.svg);
  background-size: 132px 24px;
}

.brand p {
  color: #ccc;
  margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {

  .brand {
    display: flex;
  }

  .brand h1,
  .brand p {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 1.5rem;
  }

}
