<!DOCTYPE html>
<html>
  {% include "components/head.njk" %}
  <body class="page-{{ body_class }}">
    {% block header %}
      {% include "components/header.njk" %}
    {% endblock %}
    {% block main %}
      {% include "components/main.njk" %}
    {% endblock %}
    {% block footer %}
      {% include "components/footer.njk" %}
    {% endblock %}
  </body>
</html>
