<!DOCTYPE html>
<html>
  {% include "components/head.njk" %}
  <body class="page-{{ body_class }}">
    {% include "components/header-404.njk" %}
    {% include "components/main.njk" %}
    {% include "components/footer.njk" %}
  </body>
</html>
