---
layout: connections
meta_title: About
meta_description: A gathering of people who are investing their collective time, energy, and resources in the challenge of reimagining our social architecture.
body_class: about
title: About
pagination:
  data: collections.socialarc_posts
  size: 20
  alias: posts
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">builders collective</h1>
        <h3 class="subtitle is-size-4 has-text-grey">Exploring how we imagine, design, and build the future together</h3>
      </div>
      <div class="column">
        <p>What is the builders collective?</p>
        <p><strong>We are the creative collaborative people who are building a resilient
        society.</strong></p>
        <p>We might not know each other yet. We might not even know that other
        people feel the same way. That’s why we are putting language to ideas
        that we didn’t know we had permission to say in public, because it might
        threaten our sense of stability, comfort, and safety by questioning the
        self-appointed authorities of the social, economic, and political
        order.</p>
        <hr />
        {% include "components/menu-list-pages.njk" %}
      </div>
      <div class="column">
        <p>Maybe we are all sensing the same restlessness and unease with a
        world that says one thing but does the opposite. Enough with the
        political, brand, and spiritual promises that don’t fulfill the
        expectations of a world that is done with the exploitation of oppressive
        corporations.</p>
        <p>We have sensed that the world is not the way it should be, but we can
        imagine a better world. So we are investing our time, energy, and
        resources to reimagine our social architecture. We are exploring how we
        imagine, design, and build the future together.
        </p>
        <hr />
        {% include "components/menu-list-sites.njk" %}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">{{ socialarc.title }}</h1>
        <h3 class="subtitle is-size-4 has-text-grey">{{ socialarc.description }}</h3>
      </div>
      <div class="column is-8">
        <p class="menu-label">Articles</p>
        <ul class="article-list">
          {% for post in posts %}
            <li>
              <h3 class="title is-size-5">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h3>
              <p class="tag-label"><a href="{{ post.primary_tag.url }}"><span class="tag">{{ post.primary_tag.name }}</span></a></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
