---
layout: connections
meta_title: Connect
meta_description: Learn about how we can work together to reimagine our social architecture
body_class: connect
title: Connect
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Connect</h1>
        <h3 class="subtitle is-size-4 has-text-grey">Learn about how we can work together to reimagine our social architecture</h3>
      </div>
      <div class="column">
        <p>Listen to podcasts, sign up for our newsletter, connect on social
        media, learn more at an event, join us for a workshop, or commit to
        investing your time, energy, and resources to build a world we would all
        want to live in.</p>
        <p>This is your world. You get to have a say. You can help change
        things. You have an opportunity to find meaning, purpose, and
        belonging.</p>
      </div>
      <div class="column">
        <p>Create authentic human connections that can turn into lifelong
        relationships while engaging in the process of design to solve our
        greatest challenges.</p>
        <p>Connect to learn more about how to get involved or to let us know
        what you are already doing to build a better world.</p>
      </div>
    </div>
  </div>
</section>
