---
layout: actions
meta_title: Courses
meta_description: Working together to reimagine our social architecture
body_class: courses
title: Courses
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Workshops</h1>
        <h3 class="subtitle is-size-4 has-text-grey">Working together to reimagine our social architecture</h3>
      </div>
      <div class="column">
        <p>Workshops are ways to try things out, without necessarily committing
        to a long-term project. By gathering together for events, we will begin
        the discussion that lead to the possibility of working together to learn
        how design can be a transformative process for imagining possibilities,
        testing concepts, and building solutions. Workshops can be a way to
        engage everybody in creativity and collaboration that helps create
        buy-in to new ideas and change. Design is a proven methodology for
        applying the scientific method to the process of creativity.</p>
        <h2 class="title is-size-4">Design Rationale</h2>
        <p>Just over 100 years ago, the Bauhaus designed the workshops of the
        modern age. After a century of building our modern societies, we have
        discovered several fundamental flaws in these initial prototypes of
        social organization. For example, the nation states that dominate North
        America are grappling with the legacy of imperial colonization upon
        which they have been founded. Land appropriation, resource extraction,
        and the marginalization of Indigenous Peoples that is part of the
        ongoing genocide are the foundation of the economic, legal, and
        governance systems.</p>
      </div>
      <div class="column">
        <p>The same logic that built these nations are being extended into the
        logic of market economies that are built for the extraction of value
        from human resources. These systems are socially, economically,
        politically, and ecologically unsustainable.</p>
        <p>Through co-creation workshops, it might be possible to explore how we
        imagine, design, and built the future together by reimagining our social
        architecture.</p>
        <p>Design is evolving, and people have an opportunity to be part of the
        evolution that is happening to extend what we have learned about
        transforming our physical environment to the transformation of our
        metaphysical world. That which is beyond the physical includes the
        economic, the social, the political, and the ecological.</p>
        <p>How can we use the proven processes of design to creatively and
        collaboratively take back power from hierarchies to create change
        through networks of innovation. If we are going to fundamentally
        transform our societies for the better, it is going to take all of us
        working together to replace obsolete models of social organization and
        governance into a ecologically interdependent, sustainable, and
        resilient society.</p>
      </div>
    </div>
  </div>
</section>
