---
layout: actions
meta_title: Courses
meta_description: Building resilience,  relationships and community
body_class: courses
title: Courses
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Social Architecture</h1>
        <h3 class="subtitle is-size-4 has-text-grey">From the design of physical artifacts to the synthesis of physics and biology in the formation of living systems.</h3>
      </div>
      <div class="column">
        <p>Design goes beyond the pragmatic application of visual style to
        cultural artifacts. In other words, design is more than making things
        look pretty. It is a way of thinking and a process of working that
        enhances the ability of an individual or group of individuals to build
        relationships with the people in their community, locally and globally,
        and to realize their vision to meet needs, solve problems, and overcome
        challenges, not by fighting the existing reality, but by creating new
        models of reality to make the old ones obsolete.</p>
      </div>
      <div class="column">
        <p>Interdependence theory provides a practical framework for understanding the
        underlying psychological factors that motivate other individuals in
        which you interact (in both personal and professional settings), as well
        as providing a framework for understanding the underlying psychological
        factors that motivate your own actions when interacting with others.</p>
      </div>
    </div>
  </div>
</section>
