---
layout: default
meta_title: Design
meta_description: Influenced by the past, shaping the future
body_class: design
title: Design
pagination:
  data: collections.design_posts
  size: 20
  alias: posts
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Living Systems</h1>
        <h3 class="subtitle is-size-4 has-text-grey">The challenge of our century: how might we model social systems after living organisms?</h3>
      </div>
      <div class="column">
        <p>Design is evolving from physical artifacts to human experience:
        perception (senses), cognition (mind), emotion (heart), and action
        (body). The future of design and architecture may be in the integration
        of the separate disciplines to learn how interconnected systems work and
        model the built environment to imitate the processes of living
        organisms.</p>
      </div>
      <div class="column">
        <p>The ethics of design is at the forefront of our discussions as we
        have again come to realize that technology is not a neutral force in the
        world. Rather, technology is the means by which humanity gains the power
        to destroy or to create.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">{{ design.title }}</h1>
        <h3 class="subtitle is-size-4 has-text-grey">{{ design.description }}</h3>
      </div>
      <div class="column is-8">
        <p class="menu-label">Articles</p>
        <ul class="article-list">
          {% for post in posts %}
            <li>
              <h3 class="title is-size-5">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h3>
              <p class="tag-label"><a href="{{ post.primary_tag.url }}"><span class="tag">{{ post.primary_tag.name }}</span></a></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
