---
layout: actions
meta_title: Events
meta_description: Connecting people to the value of being human
body_class: events
title: Events
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Events</h1>
        <h3 class="subtitle is-size-4 has-text-grey">Connecting people to the value of being human</h3>
      </div>
      <div class="column">
        <h3 class="title is-size-4">The Status Quo</h3>
        <p>When we meet together, we are doing something that is at the
        foundation of the experience of being human. We are making social
        connections and building the relationships on which our communities
        build trust.</p>
        <p>In this age of the nation states that are built on the infrastructure
        of corporations as the centre for human activity, people have abdicated
        their power to legal fictions designed by monarchies for wielding power
        over the labour forces of their empires.</p>
        <p>Somehow, we have been deluded into believing that the democracies
        designed by 18th century aristocrats would be suitable forms of
        governance for enabling people to achieve some semblance of meaning,
        purpose, and autonomy in their work lives.</p>
        <h3 class="title is-size-4">Balance</h3>
        <p>We speak of work-life balance, but we fail to recognize that we have
        largely outsourced control of our social, economic, and political lives
        to the market.</p>
        <p>We want tools to help make our lives more manageable, profitable,
        efficient, convenient, and secure. However, once we have optimized our
        lives for maximum security, productivity, and satisfaction, will we be
        able to achieve the fulfillment that we seek?</p>
        <p>The politicians of nation states, the public relations
        representatives of corporations, and the leaders of our religious
        institutions are confident that they have the answers for what will make
        people happy. Why do we trust these authorities, leaders, and
        influencers? Have they really delivered on the political, brand, and
        divine promises of a secure and prosperous nation, a materially
        satisfied life, a peaceful contentedness in moral and spiritual
        transcendence?</p>
        <p>What if life is messy? What if life is in process? What if life does
        not deliver what we expected?</p>
      </div>
      <div class="column">
        <h3 class="title is-size-4">Design</h3>
        <p>It is through the principles of design that we can come to understand
        that life has limitations, constraints, and frustrations.</p>
        <p>We make tools to solve problems. However, we have created tools at
        such a scale that the tools we have created have become the problem.</p>
        <p>By coming together to discuss our questions, concerns, frustrations,
        and problems, we can acknowledge that all is not well. But we do not
        need to dwell in the sort of media environment that we have created that
        focuses only on everything that has gone wrong.</p>
        <p>Design is ultimately a creative approach to solving our problems by
        using the tools we have available to us to research ideas, better
        understand our problems, think about the possibilities, prototype
        possible solutions, test and validate whether the prototype is an
        appropriate and effective solution to the problem, and to build those
        concepts into reality.</p>
        <p>What if the value of being human involved influence, agency, and
        capacity to explore how we can imagine, design, and build the kind of
        world that we want to live in?</p>
        <p>I doubt that we would design what we now have. Let’s challenge the
        status quo by meeting together to engage in the conversations that we
        should have been having all along, if politicians, corporations, and
        religious institutions were not dominating and monopolization public
        discourse.</p>
        <p>We can rediscover our common humanity by finding common ground in
        meeting basic human needs and engaging in the process of building a
        resilient society.</p>
      </div>
    </div>
  </div>
</section>
