---
layout: default
meta_title: Imagine
meta_description: Creativity and innovation at the intersection of art and science
body_class: imagine
title: Imagine
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">The Power of Imagination</h1>
        <h3 class="subtitle is-size-4 has-text-grey">The big picture thinking that we need to solve the greatest challenges that we are facing at this moment in time.</h3>
      </div>
      <div class="column">
        <p>There is a terrible misconception in school that when we take art
        that we are teaching people to draw. What we are really doing is
        teaching people to see. That’s the important function. That’s why I
        think it is tragic when school funding gets cut, they cut out the art.
        To be creative, we must choose something that is really hard, that we
        might fail at, and have failed at; then we’re more likely to come up
        with something that is fresh and different.</p>
      </div>
      <div class="column">
        <p>The tools that we use to communicate have changed over time. Much of
        our work was manual and analog. As graphic designers, we were engaged in
        a creative process that evolved from pencils, pens, rapidographs and
        rubylith to fonts, software and hardware to CMYK printing, foil
        stamping, stochastic screens and paper stocks. The breadth and depth of
        resources required for competence in the practice of design and
        communications grows as technology progresses.</p>
      </div>
    </div>
  </div>
</section>
