---
layout: connections
meta_title: Join
meta_description: Join a movement to build a world we want to live in
body_class: join
title: Join
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Join</h1>
        <h3 class="subtitle is-size-4 has-text-grey">Join a movement to build a world we want to live in</h3>
      </div>
      <div class="column">
        <p>Building the kind of world that we want to live in is going to take
        all of us working together to rediscover our common humanity.</p>
        <p>Of course, there is nothing more fun than finding meaning, purpose,
        and agency doing something that makes the world a better place, all
        while spending time with people who will challenge, inspire, and mentor
        you, and maybe even become your close circle of friends.</p>
      </div>
      <div class="column">
        <blockquote>
          <p class="is-italic has-text-weight-bold">In other words, we want the same things from design that we want
          from our fellow human beings. Coincidentally, the ancient Greeks
          framed this ideal in the context of knowing, making and doing: to know
          truth, to make beauty and to do good.</p>
          <p>—Marty Neumeier</p>
        </blockquote>
        <blockquote>
          <p class="is-italic has-text-weight-bold">“You never change things by fighting the existing reality. To change something, build a new model that makes the existing model obsolete.”</p>
          <p>—R. Buckminster Fuller</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
