---
layout: actions
meta_title: Projects
meta_description: Engaging in the design process to solve our greatest challenges
body_class: projects
title: Projects
---

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6">
      <div class="column">
        <h1 class="title is-spaced">Projects</h1>
        <h3 class="subtitle is-size-4 has-text-grey">Engaging in the design process to solve our greatest challenges</h3>
      </div>
      <div class="column">
        <p><strong>Projects are for people who are committed to exploring how we
        imagine, design, and build the future together.</strong> They are
        opportunities to fully engage in the process of creative collaboration
        to reimagine our social architecture.</p>
        <p>Prototyping leads to a virtual storage room of digital experiences
        that are intended to test concepts and discover approaches that resonate
        with people and lead to authentic human connections. Working together
        can build the social bonds and networks that help us become stronger,
        more capable people.</p>
      </div>
      <div class="column">
        <p>Setting limits and constraints helps us to bring clarity to our
        motivations and focuses our time, energy, and resources on the most
        important challenges that we face.</p>
        <p>Many of these projects need to be culled and decommissioned, but they
        continue to exist as records of a long process to discover the ideas
        that resonate with people. It has been necessary to build influence,
        agency, and capacity over time to be ready to fully engage in connecting
        a diverse community of collaborators.</p>
      </div>
    </div>
  </div>
</section>
